# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite
*.pkl
*.parquet

# WESAD respiban data #
######################
**/data/WESAD/S*/S*_respiban.txt

# RADWear data #
######################
**/data/RADWear/**/A0*

**/data/RADWear/**/record_*